@use "global" as *;

.success {
    background-color: $base;
}

.top__success {
    padding-top: rem(60);
    padding-bottom: rem(40);
    @include mq(md) {
        padding-top: rem(80);
        padding-bottom: rem(80);
    }
}